<div class="center jumbotron">
  <h1>作る喜びを、もっと身近に。</h1>
  <p>ElectroNoteは、電子工作の輪を広げ、多くの人が作る楽しみを共有できるようにするサービスです。</p>

  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"),"https://rubyonrails.org/" %>
