<div class="center jumbotron">
  <h1>Electronote</h1>
  <h2>作る喜びを、もっと身近に。</h2>
  <p>ElectroNoteは、電子工作の輪を広げ、作る楽しみを共有するためのサービスです。</p>

  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>
