version: '3'
services:
  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./db/mysql_data:/var/lib/mysql
    # env_file:
    #   - .env
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_USER: electronote
      MYSQL_PASSWORD: password
  app:
    build:
      context: .
      dockerfile: ./docker/rails/Dockerfile
    working_dir: /electronote
    command: bundle exec unicorn -p 3000 -c /electronote/config/unicorn.rb
    # command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - .:/electronote
      - /var/tmp
    # env_file: 
    #   - .env
    ports:
      - "3000:3000"
    depends_on:
      - db
  web:
    build:
      context: .
      dockerfile:  ./docker/nginx/Dockerfile
    # volumes:
    #   - public-data:/electronote/public
    #   - tmp-data:/electronote/tmp
    ports:
      - 80:80
    depends_on:
      - app
    volumes_from:
      - app
volumes:
  public-data:
  tmp-data:
  log-data:
  mysql-data:
