version: 2.1
orbs:
  ruby: circleci/ruby@1.1.2
  heroku: circleci/heroku@1.2.3

jobs:
  build:
    machine:
      image: circleci/classic:edge
    working_directory: ~/electronote
    environment:
      - RAILS_ENV: 'test'
    steps:
      - checkout:
            path: ~/electronote
      # - run:
      #     name: make dummy envfile
      #     command: touch .env
      - run:
          name: docker-compose build
          command: docker-compose build
      - run:
          name: docker-compose up
          command: docker-compose up -d
      - run:
          name: sleep for waiting launch db
          command: sleep 1
  test:
    machine:
      image: circleci/classic:edge
    environment:
      BUNDLE_JOBS: "3"
      BUNDLE_RETRY: "3"
      APP_DATABASE_HOST: "127.0.0.1"

    working_directory: ~/electronote
    steps:
      - checkout:
          path: ~/electronote
      # - run:
      #     name: make dummy envfile
      #     command: touch .env
      - run:
          name: rails db:create
          command: docker-compose run app rails db:create
      - run:
          name: rails db:migrate
          command: docker-compose exec app rails db:migrate
      - run:
          name: test
          command: docker-compose exec app rails test

  deploy:
    machine:
      image: circleci/classic:edge
    working_directory: ~/electronote
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            -ã€€"c5:50:97:f7:f6:1d:d8:b9:4c:43:69:e7:66:7e:ff:ce"
      # - run:
      #     name: make dummy envfile
      #     command: touch .env
      - run:
          name: ssh
          command: ssh ${USER_NAME}@{HOST_NAME} 'cd /var/www/rails/electronote && git pull && docker-compose run app rails s'

workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: main
