version: 2.1
orbs:
  ruby: circleci/ruby@1.1.2

jobs:
  build:
    docker:
      - image: circleci/ruby:2.7
    working_directory: ~/electronote
    # environment:
    #   - RAILS_ENV: 'test'
    steps:
      - checkout:
            path: ~/electronote
      - ruby/install-deps
      # - run:
      #     name: docker-compose build
      #     command: docker-compose build
      # - run:
      #     name: docker-compose up
      #     command: docker-compose up -d
      # - run:
      #     name: sleep for waiting launch db
      #     command: sleep 1
  test:
    docker:
      - image: circleci/ruby:2.7
      - image: circleci/mysql:8.0.3
        command: --default-authentication-plugin=mysql_native_password
        environment:
          MYSQL_ROOT_PASSWORD: rootpass
          MYSQL_DATABASE: electronote_test
          MYSQL_USER: root
    environment:
      BUNDLE_JOBS: "3"
      BUNDLE_RETRY: "3"
      APP_DATABASE_HOST: "127.0.0.1"
      RAILS_ENV: 'test'
    working_directory: ~/electronote
    steps:
      - checkout:
          path: ~/electronote
      - ruby/install-deps
      - run:
          name: DB setup
          command: bundle exec rails db:migrate
      - run:
          name: test
          command: bundle exec rails test

  deploy:
    docker:
      - image: circleci/ruby:2.7
      - image: circleci/mysql:8.0.3
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: rootpass
            MYSQL_DATABASE: electronote_test
            MYSQL_USER: root
    working_directory: ~/electronote
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - add_ssh_keys:
          fingerprints:
            -ã€€"c5:50:97:f7:f6:1d:d8:b9:4c:43:69:e7:66:7e:ff:ce"
      - run:
          name: ssh
          command: ssh ${USER_NAME}@{HOST_NAME} 'cd /var/www/rails/electronote && git pull && docker-compose run app rails s'

workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: main
