version: 2.1
orbs:
  ruby: circleci/ruby@1.1.0
  aws-ecr: circleci/aws-ecr@6.7.0
  aws-ecs: circleci/aws-ecs@1.1.0
  aws-cli: circleci/aws-cli@0.1.16

jobs:
  test:
    docker:
      - image: circleci/ruby:2.7
        environment:
          BUNDLER_VERSION: 2.1.4
      - image: circleci/mysql:8.0.4
        command: --default-authentication-plugin=mysql_native_password
        environment:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_USER: root
          MYSQL_ROOT_PASSWORD: rootpass
          MYSQL_DATABASE: electronote_test
    environment:
      RAILS_ENV: test
      # RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
      APP_DATABASE_HOST: "127.0.0.1"
      BUNDLE_JOBS: "3"
      BUNDLE_RETRY: "3"
    working_directory: ~/electronote
    steps:
      - checkout:
          path: ~/electronote
      - ruby/install-deps
      # - run:
      #     name: DB setup
      #     command: bundle exec rails db:schema:load --trace
      - run:
          name: DB create
          command: bundle exec rails db:create
      - run:
          name: DB migrate
          command: bundle exec rails db:migrate
      - ruby/rubocop-check
      # - run:
      #     name: Rubocop check
      #     command: bundle exec rubocop
      - run:
          name: RSpec test
          command: bin/rspec
      # TODO: RubocopとRSpec構築したらコメントアウト外して、上のテストを削除
      # - ruby/rspec-test

  db-migrate-on-task-run:
    docker:
      - image: circleci/ruby:2.7
        environment:
          BUNDLER_VERSION: 2.1.4
    working_directory: ~/electronote
    steps:
      - checkout
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          aws-region: AWS_REGION
      - run:
          name: "db migrate"
          command: |
            aws ecs run-task --region $AWS_REGION \
              --cluster elec-ec2-cluster \
              --task-definition elec-ec2-task \
              --overrides file://docker/run_task_db_migrate_production.json

workflows:
  test:
    jobs:
      - test
  build-migrate-and-deploy:
    jobs:
      - aws-ecr/build-and-push-image:
          name: push-nginx
          filters:
            branches:
              only: main
          account-url: AWS_ACCOUNT_URL
          create-repo: true
          dockerfile: ./docker/nginx/Dockerfile
          repo: "electronote-web"
          region: AWS_REGION
          tag: "${CIRCLE_SHA1}"
      - aws-ecr/build-and-push-image:
          name: push-rails
          filters:
            branches:
              only: main
          account-url: AWS_ACCOUNT_URL
          create-repo: true
          dockerfile: ./docker/rails/Dockerfile
          repo: "electronote_app"
          region: AWS_REGION
          tag: "${CIRCLE_SHA1}"
      - db-migrate-on-task-run:
          requires:
            - push-rails
          filters:
            branches:
              only: main
      - aws-ecs/deploy-service-update:
          name: deploy-nginx
          requires:
            - db-migrate-on-task-run
          family: "elec-ec2-task"
          cluster-name: "elec-ec2-cluster"
          service-name: "elec-ecs-service"
          container-image-name-updates: 'container=nginx,image-and-tag=${AWS_ACCOUNT_URL}/electronote-web:${CIRCLE_SHA1}'
      - aws-ecs/deploy-service-update:
          name: deploy-rails
          requires:
            - db-migrate-on-task-run
          family: "elec-ec2-task"
          cluster-name: "elec-ec2-cluster"
          service-name: "elec-ecs-service"
          container-image-name-updates:  'container=rails,image-and-tag=${AWS_ACCOUNT_URL}/electronote_app:${CIRCLE_SHA1}'
