version: 2.1
orbs:
  ruby: circleci/ruby@1.1.2
  heroku: circleci/heroku@1.2.3

jobs:
  build:
    docker:
      - image: circleci/ruby:2.7
    working_directory: ~/electronote
    steps:
      - checkout:
          path: ~/electronote
      - ruby/install-deps

  test:
    docker:
      - image: circleci/ruby:2.7
      - image: circleci/mysql:5.5
        environment:
          MYSQL_ROOT_PASSWORD: rootpass
          MYSQL_DATABASE: electronote_test
          MYSQL_USER: root
    environment:
      BUNDLE_JOBS: "3"
      BUNDLE_RETRY: "3"
      APP_DATABASE_HOST: "127.0.0.1"
      RAILS_ENV: test
    working_directory: ~/electronote
    steps:
      - checkout:
          path: ~/electronote
      - ruby/install-deps
      - run:
          name: Database setup
          command: bundle exec rails db:migrate
      - run:
          name: test
          command: bundle exec rails test

  deploy:
    docker:
      - image: circleci/ruby:2.7
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "28:36:08:c6:f0:3d:22:2a:f8:ed:96:8d:43:01:a0:1d"
      - run: ssh ${USER_NAME}@${HOST_NAME} 'cd electronote && git pull && docker-compose run rails db:migrate'
      # - run
      # - setup_remote_docker:
      #     version: 19.03.13

workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: main
