<% provide(:title, @user.name) %>
<%# <div class="row"> %>
  <%# <aside> %>
  
  <%= render 'users/profile' %>
  <%# </aside> %>
  <div class="row">
    <h3 class="col-md-12">投稿作品 (<%= @user.works.count %>)</h3>
    <ol class="works">
      <%= render @works %>
    </ol>
  </div>
  <%= will_paginate @works, class: "center" %>
  
<%# </div> %>
