<div class="home-icon">
  <%= link_to gravatar_for(current_user, size: 200), current_user %>
</div>
<h1><%= current_user.name %></h1>
<span><%= link_to "プロフィール", current_user %></span>
<span><%= "投稿数：#{current_user.works.count}" %></span>
