@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

$light-gray: #777;

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  // text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */@at-root
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

.row {
  aside {
    section.user_info {
      margin-top: 20px;
      img {
        // display: block;
        // margin: 0 auto;
      }
      h1 {
        font-size: 2em;
        text-align: left;
      }
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
    }
    
    
  }
  h3 {
    margin-bottom: 3px;
    .feed-header {
      border-bottom: 0.7px solid #000000;
      padding: 10px 5px;
      // background-color: #0000ff;
      // color: white;
    }
  }
}



.gravatar {
  // float: left;
  // margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


.stats {
  overflow: auto;
  // margin-top: 0;
  display: block;
  margin: 0 auto;
  padding: 0;
  a {
    float: left;
    padding: 5px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    // &:first-child {
    //   padding-left: 0;
    //   border: 0;
    // }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

// .user_avatars {
//   overflow: auto;
//   margin-top: 10px;
//   .gravatar {
//     margin: 1px 1px;
//   }
//   a {
//     padding: 0;
//   }
// }

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend.has-error;
  .form-control {
    color: $state-danger-text;
  }
}



.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* top page */

.jumbotron {
  width: 100%;
  background-image: image-url('pwb.jpg');
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
  h1 {
    font-size: 3.5em;
  }
  h2 {
    color: black;
    font-size: 1.7em;
  }
  
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* works */

.works {
  list-style: none;
  padding: 0;
  
  li {
    // padding: 1px 0;
    height: 410px;
    // padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    .work {
      width: 100%;
      height: 100%;
      padding: 10px; 
      position: relative;
      border: 0.7px solid rgba(200, 200, 200, 0.5);
      .user {
        display: block;
        margin-top: 0.5em;
        padding-top: 0;
      }
      .work-title {
        display: block;
        img {
          display: block;
          padding: 5px 0;
        }
      }
      .work-footer {
        position: absolute;
        bottom: 1em;
        right: 1em;
        .timestamp {
          color: $gray-light;
          display: block;
          text-align: right;
        }
        .edit-delete {
          display: block;
          text-align: right;
        }
      }
      .gravatar {
        // float: left;
        // margin-right: 10px;
        // margin-top: 5px;
      }
      .work-icon {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }
}

// aside {
//   textarea {
//     height: 100px;
//     margin-bottom: 5px;
//   }
// }

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}


// profile

.user-profile {
  // .profile-header {
  //   position: relative;
  //   img {
  //     position: absolute;
  //     left: 0;
  //   }
  //   .follow_button {
  //     position: absolute;
  //     right: 0;
  //   }
  // }
  h1 {
    text-align: left;
    font-size: 2em;
  }
}

.follow-button {
  width: 160px;
  margin-bottom: 20px;
}
